body{
    /*background: linear-gradient(to bottom, rgb(23, 167, 215), rgb(97, 238, 97));
    background-size: cover;
    background-attachment: fixed;*/
    font-family: sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -5px;
}
#mainheader{
    background-color: cornflowerblue;
    opacity: 1;
    scale: 125%;
    margin-top: -20px;
}
h2{
    font-size: 28px;   
}
li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-weight: 100;
    text-decoration: white underline;
    margin-left: 10px;
}
p{
    margin-left: 20px;
    margin-right: 5px;
}